/* LoginForm.css */

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  /* height: 100vh; */
  background-color: white;
}

.register-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.register-form h2 {
  text-align: center;
  color: black;
}

.inp-group {
  width: 250px;
  margin-bottom: 20px;
}

.inp-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #f5f5f5;
  border-radius: 20px;
  background-color: #f5f5f5;
}

.reg-button {
  width: 150px;
  padding: 15px 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  /* margin-left: 10px; */
}

.reg-button:hover {
  opacity: 0.8;
}

.reg-button:active {
  background-color: #222;
}
